@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playwrite+BE+VLG:wght@100..400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Playwrite+BE+VLG:wght@100..400&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
}
.Navbar {
  padding: 10px;
  text-align: center;
  /* background-color: antiquewhite;    just to check */
  /* margin-bottom: 200px;
  font-family: Libre "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif; */
}
.yeah {
  background-image: url(./aboutus.png);
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 20px;
  position: relative;
}

img {
  margin: 0;
  padding: 0;
  border: none;
  max-width: 100%;
  height: auto;
  position: absolute;
}
.Navbar h3 {
  display: inline;
  margin: 15px;
}
.Navbar a {
  color: #6f2a2a;
  text-decoration: none;
  font-weight: bold;
  font-family: "Playfair Display", serif;
}
.brand {
  color: #632323;
  text-decoration: none;
  font-weight: bold;
  padding: -20px;
  text-align: center;
  /* font-size: larger; */
  font-family: "Playwrite BE VLG", cursive;
  /* background-color: aqua; */
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
h1 {
  color: #8b4513; /* Brown color */
}
p {
  line-height: 1.6;
}
.team-member {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.team-member img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-right: 20px;
}
.container {
  margin-right: 50px;
  margin-left: 30px;
  margin-top: 550px;
}
.jade {
  position: relative;
}
.carte {
  margin-top: 300px;
  position: absolute;
  width: 25%;
  height: 900px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  color: rgb(0, 0, 0);
  font-family: Arial, sans-serif;
  background-color: rgb(255, 255, 255);
  padding: 10px;
}

.lorm {
  font-size: 1.5rem;
  padding: 1rem;
}

.carte h1 {
  font-size: 70px;

  padding: 0.5rem;
}
.carte-haut-droite {
  margin-left: 300px;
}
.carte-bas-gauche {
  margin-right: 500px;
  margin-top: 700px;
}
.everything {
  background-color: rgb(232, 205, 172);
}
button{
  margin-left: 200px;
}
.container{
margin-left: 300px;
}