* {
  padding: 0%;
  margin: 0%;
}
body {
  height: 100vh;
  margin: 0;
}

/* .Home{
    color: rgb(255, 0, 0);
  } */

main {
  width: max-content;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: palevioletred;
  display: inline-block;
}

.image {
  float: inline-end;
  width: 345px;
  height: 350px;
  border-radius: 50%;
  overflow: hidden;
}
.container {
  background-color: palevioletred;
  overflow: hidden;
  padding: 10px;
}
.image {
  display: flex;
  margin-left: 50px;
}

.cards {
  display: flex;
  gap: 30px;
  justify-content: space-around;
}
.card {
  padding: 30px;
  border-radius: 10px;
  border: 2px solid black;
  transition: 0.5s;
}
.card:hover {
  background-color: rgb(255, 176, 202);
  scale: 1.3;
  cursor: pointer;
  color: blueviolet#;
}
footer {
  margin-top: 20px;
  background-color: antiquewhite;
}

footer input[type="text"] {
  width: 80%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ad1457;
  border-radius: 5px;
}

footer button {
  background-color: #ad1457;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

footer button:hover {
  background-color: #880e4f;
}
.idk {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  display: flex;
  justify-content: center;
}
.end {
  display: flex;
  justify-content: center;
  margin-left: 50px;
}
.idk2 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: flex;
  justify-content: center;
}
input {
  border: solid pink;
  padding: 20px;
  padding-right: 50px;
}
.Navbar {
  background-color: pink; 
  padding: 10px;
  text-align: center;}
  
.Navbar h3 {
  display: inline;
  margin: 0 15px;
}
.Navbar a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}
.card a {
  text-decoration: none;
  color: black;
}
