* {
  padding: 0%;
  margin: 0%;
}
body {
  height: 100%;
  margin: 0;
}

/* .Home{
    color: rgb(255, 0, 0);
  } */
.cards {
  display: flex;
  gap: 30px;
  justify-content: space-around;
}
.card {
  padding: 30px;
  border-radius: 10px;
  border: 2px solid black;
  transition: 0.5s;
}
.card:hover {
  background-color: rgb(179, 196, 255);
  scale: 1.07;
  cursor: pointer;
  color: rgb(0, 0, 0);
}
.Navbar {
  background-color:pink;
  padding: 10px;
  text-align: center;
}
.Navbar h3 {
  display: inline;
  margin: 0 15px;
}
.Navbar a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}
footer {
  margin-top: 20px;
  background-color: antiquewhite;
}

footer input[type="text"] {
  width: 80%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ad1457;
  border-radius: 5px;
}

footer button {
  background-color: #ad1457;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

footer button:hover {
  background-color: #880e4f;
}
iframe{
  display: flex;
  justify-content: center;
}
input{
  display: flex;
  justify-content: center;
}

